template#template
  style.
    * {
      box-sizing: border-box;
    }
    
    :host {
      --color: #212121;
      --border-color: #ccc;
      display: inline-block;
      padding: .6em 1em;
      border-radius: .5em;
      margin: .5em;
      opacity: 0;
      text-transform: capitalize;
      border: solid var(--border-color, var(--color, #212121)) 1px;
      color: var(--color, #212121);
      font-size: .8em;
      overflow: hidden;
      transition: opacity 300ms;
    }
    
    :host(.active) {
      opacity: 1;
    }
  a
    slot
script
  include ../../scripts/app/button.js
